[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# User-specific files
[Uu]ser[Ss]ettings/

# IDEs
.idea/
.vs/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Visual Studio / Rider
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj